<div class="mt-4 flex flex-row items-center justify-between">
  @if (!hasPreviousStep() && redirectLink()) {
    <a [routerLink]="redirectLink()" class="flex">
      <i class="icon-chevron-left"></i>
      {{ redirectLinkLabel() }}
    </a>
  }
  <button
    class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800"
    [ngClass]="{ invisible: !hasPreviousStep() }"
    (click)="goToPreviousStep()">
<span
  class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-transparent group-hover:dark:bg-transparent">
 {{ previousLabel() }}
</span>
  </button>

  <button type="button"
          class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 "
          (click)="goToNextStep()"
          [ngClass]="{ hidden: !hasNextStep(), 'opacity-45 cursor-not-allowed': !canGoToNextStep() }"
  > {{ nextLabel() }}
  </button>
  @if (!hasNextStep() && redirectLink()) {
    <a [routerLink]="redirectLink()" class="w-full text-right underline" [attr.data-cy]="'end-redirect'">
      {{ redirectLinkLabel() }}
    </a>
  }
</div>
