@if (timeslot()) {
  <div
    class="bg-blue-100 p-2 rounded text-blue-800 text-sm hover:bg-blue-200 transition-colors cursor-pointer shadow-sm hover:shadow transform hover:-translate-y-0.5 duration-200"
  >
    <div class="font-bold">{{ timeslot().level }}</div>
    <div class="text-xs text-blue-700"><span
      class="font-semibold">Occupation:</span> {{ reservedSpots().length }}/{{ timeslot().spots }}
    </div>
    @if (reservedSpots().length > 0) {
      <div class="text-xs text-blue-700 ">
        <span class="font-semibold">Participants</span>
        <ul class="list-disc p-2">
          @for (appointment of reservedSpots(); track appointment) {
            <li>{{ appointment.customer }}</li>
          }
        </ul>
      </div>
    }
  </div>
}
